doctype html
html(lang="ru")
  head
    title Beyond - панель управления
    link(rel="stylesheet", href="/styles/main.css?nocache")
    link(rel="shortcut icon", href="/images/logo.png", type="image/png")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    script(src="/scripts/assembled.libs.js")
    script(src="/scripts/run-on.utils.js?nocache")
    script(src="/scripts/ui.performing.js?nocache")
  body
    .container.waiting_login#maincontainer
      .box_header
        .box.miniprofile
            img.avatar#useravatar(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
            .profile
                .name#username
                .role#userrole
        .box.logout#userlogout
        .box.header_cont
            .header
                .button(data-page="common", style='display: none', perm='STATISTICS') Общая информация
                .button(data-page="logs", style='display: none', perm='LOGS') Логи
                .button(data-page="items", style='display: none', perm='ITEMS') Предметы
                .button(data-page="map", style='display: none', perm='MAP') Карта
                .button(data-page="districts", style='display: none', perm='MAP') Районы
                .button(data-page="businesses", style='display: none', perm='BUSINESSES') Бизнесы и Работы
                .button(data-page="users", style='display: none', perm='USERS') Пользователи
                .button(data-page="characters", style='display: none', perm='CHARACTERS') Персонажи
                .button(data-page="origin", style='display: none', perm='ORIGINS') Происхождения
                .button(data-page="binds", style='display: none', perm='BINDS') Планировщик
                .button(data-page="super", style='display: none', perm='SUPER') Панель
      .box.bodytarget#bodytarget