.imbedded
    style
        include ../data/styles/login.css
    .buffer
    .logincont()
        input.text(type="text", placeholder="login")
        input.text(type="password", placeholder="password")
        div.error#error Для продолжения использования сервиса необходимо войти
        input.submit#submit(type="submit", value="Войти")