.imbedded
    style
        include ../data/styles/super.css
    .workflow
        .selection(style='grid-area: a')
            button#users Пользователи
            button#roles Роли
        .section#selectionarea(style='grid-area: b')
        .section#propertiesarea(style='grid-area: c')